*{
	padding: 0;
	margin: 0;
}


.home{
	background: url(../images/csgo.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh

}

.home > div > h1 {
	color: black	
}

.btn{
	background-color: teal;
	color: black;
	border-style: none;
	padding: 10px 30px;
	border-radius: 20px;
	transition: .4s;
}

.btn:hover{
	background-color: #fcb408;
}

.about{
	background: url(../images/wak.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh
}

.left{
	
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left p{
	color:  #fcb408;
	font-size: 20px

}

.left h2{
	color: #06cff7;
	font-size: 30px;
}

.left{
	margin-top: 200px;

}

.right{
	margin-top: 20px;
	height: 100vh;
	width: 50vw;
}

.right h3{
	color: #06cff7;
	font-size: 50px

}

.right p{
	color: #fcb408;
	font-size: 20px;

}

h1{
	font-family: 'Righteous', cursive;
	font-size: 80px
}

.profile{
	height: 100vh;

}

.profile p{
	color: #fcb408;
	font-size: 30px;
}

.left > div > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	align-content: center;
	margin: auto;
	align-items: center;
}

.spray {
	font-family: 'Righteous', cursive;
	font-size: 10px
}

.right > div > img {
	height: 200px;
	width: 200px;
	border-radius: 50%
}

.profile > div > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;


}


.profile{
	background: url(../images/csgod.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh
}

.gallery{
	background: url(../images/galax.png);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh

}
.gallery > div > img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	transition: .5s;
	margin: 8px;
}

.gallery img:hover{
	transform: scale(1.3);
	transition: .5s;
}

.gallery h2{
	text-align: center;
	color: #fcb408;
	font-size: 50px
}


.contact > form {
	height: 60vh;
	width: 50%;
	text-align: center;

}

form > h4 {
	font-size: 50px;
	text-align: center;
	margin: 10px;
}

input {
	display: block;
	border: 1px solid teal;
	margin: 10px auto;
	height: 40px;
	width: 400px
	border-radius 10px;
}

textarea{
	display: block;
	border: 1px solid teal;
	margin: 10px auto;
	height: 40px;
	width: 400px
	border-radius 10px;

}
.contact{
	background: url(../images/defuse.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: left;
	align-items: center;
	height: 100vh;

}

.contact h4{
	color: teal;	
	font-family: 'Righteous', cursive;
}

h2{
	color: #fcb408;
	font-family: 'Righteous', cursive;
}